@import '../../styles/utils.scss';

.auto-complete-comp {
  textarea {
    min-height: 8rem;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $oc-gray-5;
    padding: 0.75rem;
    margin-top: 0.75rem;
    color: $oc-gray-8;
    font-weight: 400;
    font-family: 'Noto Sans KR';
    resize: none;
  }
  .keyword-container {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    display: inline-block;
    width: 12rem;
    margin-top: -4px;
    border: 1px solid $oc-gray-4;
    background: $oc-gray-2;
    border-radius: 4px;
    .keyword-item {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      color: $oc-gray-8;
      padding: 0.5rem;
      font-size: 0.75rem;
      font-weight: 600;
      &:hover {
        background: $oc-gray-3;
      }
      &:active {
        opacity: 0.8;
      }
      .keyword {
      }
      .count {
      }
    }
  }
}
