@import '../../styles/utils.scss';

.container {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  background: white;
  width: 38rem;
  display: flex;
  flex-direction: column;
  border: 1px solid $oc-gray-4;
  border-radius: 4px;
  margin: 1rem;
  margin-bottom: 2rem;
  color: $oc-gray-9;
  @include media('<medium') {
    width: 100%;
    margin: 2rem 0;
  }
  .userid-container {
    display: flex;
    padding: 0.5rem;
    font-size: 1.15em;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    .user-icon {
      font-size: 1em;
      color: black;
      border-radius: 10rem;
      background: #eee;
      padding: 0.1rem;
      margin: 0.3rem 0.5rem;
    }
    .divider {
      flex: 1;
    }
    .userid {
      font: inherit;
      background: inherit;
      font-size: 0.875rem;
      cursor: pointer;
      border: none;
      outline: none;
    }
    .time {
      font-size: 0.625rem;
      font-weight: 400;
    }
  }
}

.button-container {
  padding: 0.5rem;
  .like {
    cursor: pointer;
    &:hover {
      & path {
        fill: $oc-gray-1;
      }
    }
    &:active {
      & path {
        fill: $oc-red-9;
        stroke: $oc-red-9;
      }
    }
  }
  svg {
    cursor: pointer;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  svg.liked path {
    fill: $oc-red-7 !important;
    stroke: $oc-red-7;
  }
}

.content {
  display: flex;
  padding-left: 1rem;
  padding-reight: 1rem;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
}
.comment-wrapper {
  display: none;
  &.edit {
    display: block;
    .comment-container {
      transition: 0.25s ease-in all;
      display: flex;
      align-items: center;
      border: 1px solid $oc-gray-2;
      background: $oc-gray-1;
      margin: 0.5rem;
      padding-right: 0.5rem;
      border-radius: 4px;
      input {
        all: initial;
        font: inherit;
        font-size: 0.875rem;
        flex: 1;
        padding: 0.5rem;
        outline: none;
      }
      svg {
        cursor: pointer;
      }
    }
  }
}

.content {
  font-weight: 400;

  .userid {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    align-items: center;
    background: inherit;
    font: inherit;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
.count-wrapper {
  margin-top: 0.5rem;
  .like-count,
  .comment-count {
    display: inline;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 0.785rem;
    font-weight: 400;
  }
  .comment-count {
    margin-left: 0.75rem;
    cursor: pointer;
  }
}
.comment-list {
  .border-line {
    padding: 0.5px;
    border-radius: 4px;
    background: $oc-gray-3;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .comment-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.35rem 1rem;
    .comment-text {
      margin-right: 0.5rem;
    }
    .comment-writer {
      font-size: 0.75rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
